<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">销售热线：</td>
                <td>
                    <input  size="30" type="text" name="smtel" value="<?php echo $data['smtel']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">销售邮箱：</td>
                <td>
                    <input size="60" type="text" name="smemail" value="<?php echo $data['smemail']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">技术支持热线：</td>
                <td>
                    <input size="30" type="text" name="tstel" value="<?php echo $data['tstel']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">技术支持邮箱：</td>
                <td>
                    <input size="60" type="text" name="tsemail" value="<?php echo $data['tsemail']; ?>" />
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>