<layout name="layout" />

<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th >销售热线</th>
            <th >销售email</th>
            <th >技术支持热线</th>
            <th >技术支持email</th>
			<th width="100">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
				<td align="center"><?php echo $v['smtel']; ?></td>
				<td align="center"><?php echo $v['smemail']; ?></td>
				<td align="center"><?php echo $v['tstel']; ?></td>
				<td align="center"><?php echo $v['tsemail']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('edit?id='.$v['id'].'&p='.I('get.p')); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?id='.$v['id'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>

<script>
</script>

<script src="__PUBLIC__/Admin/Js/tron.js"></script>