<layout name="layout" />
    <div id="pro">
		<div id="switch-tab">
            <p>
	            <span id="bac" class="tab-front"><img src="__HIMG__/bac-1.png" /></span>
	            <span class="tab-back"><img src="__HIMG__/bac-2.png" /></span>
	            <span class="tab-back"><img src="__HIMG__/bac-3.png" /></span>
	            <span class="tab-back"><img src="__HIMG__/bac-4.png" /></span>
	        </p>
        </div>		
	    <!--展品展示-->
		<div class="pro-lst">		  
	        <div id="pro-lst-1">
		        <div id="pro-pic-1">
			        <img src="__UPLOAD__/<?php echo $data[0]['pic']?>" />
			    </div>
			    <div id="pro-title-1">
			        <h3><?php echo $data[0]['goods_name']?></h3>
			    </div>
	        </div>		
     	    <div id="introduction">
		        <div id="des-title"><h2>Introduction</h2></div>
				<?php foreach($idata as $v):?>
		        <div id="des-content">
			        <p><?php echo $v['gintro']?></p>
		        </div>
				<?php endforeach;?>				 
	        </div>	
			<div class="clear"></div><!-- html注释：清除float产生浮动 -->
			<?php for($m=1,$n=0;$n<$count-1;){
			    $m++;
			    $n++;
			?>
			<div id="pro-lst-<?php echo $m;?>">
		        <div id="pro-pic-<?php echo $m;?>">
			        <img src="__UPLOAD__/<?php echo $data[$n]['pic']?>" />
			    </div>
			    <div id="pro-title-<?php echo $m;?>">
			        <h3><?php echo $data[$n]['goods_name']?></h3>
			    </div>
	        </div>
			<?php }?>
		</div>
		<!--Si-->
		<?php foreach($data as $k=>$v): 
			if($k<$count-1){
			    $k++;
				static $m=0;
				static $n=0;
		?>
		<div class="pro-details">
		    <div id="pro-left">
                <div id="pic-left">   				
			        <div id="l1"><img src="__UPLOAD__/<?php echo $v['logo']?>" /></div>
		            <div id="p1"><img src="__UPLOAD__/<?php echo $v['pic']?>" /></div>
				</div>
				<div class="clear"></div><!-- html注释：清除float产生浮动 --> 
			    <div id="bottom-left" class="s<?php echo $k?>">
		            <img src="__HIMG__/ht<?php echo $k;?>-big.png" />
					<table style="vertical-align:middle">
					    <tr>
                            <td><?php echo $v['goods_msc']?></td>
					    <tr>
					</table>
		        </div>
			</div>			
			<div id="pro-right">
		        <div id="pic-right" class="r<?php echo $k;?>">
			        <img src="__HIMG__/ht<?php echo $k;?>.png" />
				    <div><p><?php echo $v['goods_td'];?></p></div> 
			    </div>
				<div class="clear"></div><!-- html注释：清除float产生浮动 --> 
			    <div id="content">
		           <?php echo $v['goods_desc']?>
		        </div>
		        <div id="cs-pic">
		            <img id="m1" src="__UPLOAD__/<?php echo $mdata[$m++]['cs']?>" />
			        <img id="n1" src="__UPLOAD__/<?php echo $mdata[$m++]['cs']?>" />
	      	    </div>
		        <div id="cs-des" class="b<?php echo $k;?>">
			        <div id="des1"><img id="x1" src="__HIMG__/li-small.png"/><span><?php echo $mdata[$n++]['goods_asc']?></span></div>
			        <div id="des2"><img id="y1" src="__HIMG__/li-small.png"/><span><?php echo $mdata[$n++]['goods_asc']?></span></div>
				</div>
		    </div>
		</div>
		<?php }else{?>      
		<!--Customized-->
        <div class="pro-details">
            <div id="gs">
                <h3><?php echo $v['goods_name']?><h3>
	        </div>
            <div id="gs-pic">   
                <img src="__UPLOAD__/<?php echo $v['logo']?>" />
	        </div>
			<div id="Cus-foot">
                <div id="foot">
                    <img src="__HIMG__/zdy.png" />
	            </div>
	            <div id="des">
	                <span>Enkris offers customized GaN III-Nitride epi wafers<br>upon request. Please contact <a href="info@enkris.com">info@enkris.com</a> with your demand.<span>
	            </div>
			</div>
	    </div> 
		<?php }?>
		<?php endforeach;?>
	</div>


